body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

} 
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    width: 100vw;
  height: 4rem;
  background-color:white;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    text-decoration: none;
    list-style: none;
    
}
.navbar .nav-link {
    color: rgb(11, 11, 11);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-size: large;
    font-family: 'Georgia';
}
.navbar h1{ 
    margin-top: -100px;
    padding-right: 900px;
    padding: 4rem;
    margin: 0;
    text-align: center;
    color: #0d0e0f;
    font-family: 'Georgia';
   
}
.navbar ul{
    list-style-type: none;
    font-size: 1rem;
    margin-left: auto;
    font-family: 'Georgia';
}

.navbar li{
    float: right;
}

.navbar .nav-link:hover {
    border-bottom: 3px solid rebeccapurple;
}
footer {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkirgb(144, 126, 227)t(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
